@font-face{
  font-family: logo;
  src: url(fonts/Norse-Bold.otf);
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
body > main {
  display: flex;
  width: 100%;
  height: 100%;
}

.left-side {
  background-image: url('images/adrien-brun-hce5nUGO1QE-unsplash.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  width: 37.5%;
  height: 100%;
}

.left-side > div {
  position: absolute;
  top: 20%;
  height: 115px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.logo-img-container{ 
  height: 100px;
  width: 45%;
}

[src="images/odin-lined.png"] {
  height: 95px;
  width: 85px;  
  float: right;
  margin-top: 9px;
}

.logo-img-container + div {
  font-family: logo;
  color: white;
  font-size: 95px;
  overflow: hidden;
}

.logo-img-container + div > p {
  margin-top: 10px;
  margin-bottom: 0;
}

.right-side {
  width: 72.5%;
  font-family: "Gill Sans", sans-serif;
}

.upper,
.lower {
  background-color: rgb(255, 246, 246);
  height: 200px;
  overflow: hidden;
}

.upper > p {
  font-weight: 600;
  margin-left: 45px;
  margin-right: 125px;
}

.upper > p:first-child {
  padding-top: 80px;
  margin-top: 0;
  margin-bottom: 0;
}

.upper > p:nth-child(2n) {
  margin-top: 0;
  margin-bottom: 0;
}

form {
  
  height: 267px;
  padding-left: 4%;
  padding-right: 27%;
  padding-top: 1px;
  overflow: auto;
}


[type="submit"] {
  background-color: #587e37;
  border-radius: 5px;
  border: 1px;
  padding: 10px 30px;
  color: white;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 45px;
}

.lower > p {
  margin-left: 45px;
}

a:visited, 
a:link {
  text-decoration: none;
  color: #587e37;
  font-weight: 600;
}

div > label {
  display: block;
  font-size: 10px;
  letter-spacing: 1px;
  margin-bottom: 3px
}

form > div {
  display: inline-block;
  margin-bottom: 20px;
}

form > div:nth-child(even) {
  margin-right: 50px;
}

form > p {
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 25px;
}

input {
  border-radius: 3px;
  border: 1px solid #e3e6c9;
  height: 18px;
}

input:focus {
  background-color: aquamarine;
  border: 1px solid rgba(106, 255, 248, 0.911);
}